.main-container{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 478px) {
    .main-container{
        background-image: url(images/bearcubcartoonofficallogo.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}

@supports (-webkit-touch-callout: none) {
    .main-container {
        background-attachment: scroll;
    }
}